@{
	ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
	<h1 class="white">@ViewBag.Title.</h1>
</hgroup>
<div>
	<h1 class="white">
		Please check your email to reset your password.
	</h1>
</div>
	
