@{
    ViewBag.Title = "Administrator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>@ViewBag.Title</h1>



<div class="jumbotron">
    <div class="row">
        <h1>This is the @ViewBag.Title page</h1>
    </div>
</div>
